@import "tailwindcss";

@font-face {  
    font-family: Bespoke;  
    font-style: normal;  
    src: url("/src/assets/fonts/BespokeSans-Regular.woff2") format("woff2");
}

@font-face {
    font-family: Dancing;
    font-style: normal;
    src: url("/src/assets/fonts/DancingScript-Regular.woff2") format("woff2");
}

@theme {
    --font-bespoke: 'Bespoke', sans-serif;
    --font-dancing: 'Dancing', cursive;
    --color-bg-dark: rgb(15 17 21);
    --color-txt-3: rgb(87 83 83);
}

* {
    /* color: oklch(0.954 0.038 75.164); */
}