---
import Layout from "../layouts/Layout.astro";
import HomeSection from "../components/HomeSection.astro";
---

<script>
	import KonamiCode from "../components/KonamiCode";
	KonamiCode(() => {
		window.location.href =
			"https://www.youtube.com/watch?v=dQw4w9WgXcQ?autoplay=1&mute=1";
	});
</script>

<Layout
	title="Anthony"
	description="Anthony's portfolio website."
	bodyClass="bg-bg-dark"
>
	<HomeSection />
	<div class="h-svh w-full"></div>
</Layout>
