---
import AntHoney from "./AntHoney";
import NameHoverIndicator from "./NameHoverIndicator";
---

<div class="flex h-svh w-full flex-col items-center justify-center">
	<AntHoney client:load />
	<NameHoverIndicator client:load />
</div>
